<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PISA VS. EDUCATIONAL INVESTMENTS ANALYSIS</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countrySelectionBox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doubleRangeSlider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
</head>

<body>
    <div class="container">
        <div class="main-content" id="myControls">
            <label class="inputHeadLabel">Countries to Show</label>
            <div id="country-selection-box"></div>
            <label class="inputHeadLabel">Type of Finance Metric</label>
            <div id="finance-metric-selection-box"></div>
            <label class="inputHeadLabel">Type of PISA Result</label>
            <div id="pisa-metric-selection-box"></div>
            <div class="selection-container">
                <label class="inputHeadLabel">Range of Years</label>
                <div id="year-range-slider"></div>
                <label class="inputHeadLabel">Range of Education Levels</label>
                <div id="education-level-range-slider"></div>
            </div>
            <button id="apply-metric">Update Graph</button>
        </div>
        <div class="main-content" id="myGraphs">
            <div class="graph-container">
                <canvas id="data-graph"></canvas>
            </div>
            <div class="graph-container">
                <canvas id="second-graph"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>